<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stevlu.mapper.HrMapper">
    <resultMap id="BaseResultMap" type="com.stevlu.bean.Hr">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="address" property="address"/>
        <result column="enabled" property="enabled"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="userface" property="userface"/>
        <result column="dept" property="dept"/>
    </resultMap>
    <resultMap id="lazyLoadRoles" type="com.stevlu.bean.Hr" extends="BaseResultMap">
        <collection property="roles" ofType="com.stevlu.bean.Role" select="com.stevlu.mapper.HrMapper.getRolesByHrId"
                    column="id"></collection>
    </resultMap>
    <resultMap id="eagerLoadRoles" type="com.stevlu.bean.Hr" extends="BaseResultMap">
        <collection property="roles" ofType="com.stevlu.bean.Role">
            <id property="id" column="rid"/>
            <result property="name" column="rname"/>
            <result property="nameZh" column="rnameZh"/>
        </collection>
    </resultMap>
    <select id="loadUserByUsername" resultMap="lazyLoadRoles">
        select * from tkt_hr WHERE username=#{username}
    </select>
    <select id="getRolesByHrId" resultType="com.stevlu.bean.Role">
        SELECT r.* FROM tkt_hr_role h, tkt_role r where h.rid=r.id AND h.hrid=#{id}
    </select>
    <insert id="hrReg">
        INSERT INTO tkt_hr set username=#{username},password=#{password}
    </insert>
    <select id="getHrsByKeywords" resultMap="eagerLoadRoles">
        select h.*, r.id as rid, r.name as rname, r.nameZh as rnameZh from tkt_hr h
            left join tkt_hr_role h_r on h.id = h_r.hrid
            left join tkt_role r on h_r.rid = r.id
        where h.id not in 
            (select h_r.hrid from tkt_hr_role h_r, tkt_role r where h_r.rid = r.id and r.nameZh = '系统管理员')
        <if test="keywords!='all' and keywords!=''">
            and h.username like '%' || #{keywords} ||'%'
        </if>
        order by h.id
    </select>
    <select id="getHrById" resultMap="eagerLoadRoles">
        select h.*,r.id AS rid,r.name AS rname,r.nameZh AS rnameZh from ((tkt_hr h left join tkt_hr_role
        h_r on ((h.id = h_r.hrid))) left join tkt_role r on ((h_r.rid = r.id))) where h.id=#{hrId}
    </select>
    <update id="updateHr" parameterType="com.stevlu.bean.Hr">
        update tkt_hr
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=CHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="userface != null">
                userface = #{userface,jdbcType=VARCHAR},
            </if>
            <if test="dept != null">
                dept = #{dept,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateHrDept" parameterType="com.stevlu.bean.Hr">
        update tkt_hr
        <set>
            <if test="dept != null">
                dept = #{dept,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateHrPhone" parameterType="com.stevlu.bean.Hr">
        update tkt_hr
        <set>
            <if test="phone != null">
                phone = #{phone,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateHrEmail" parameterType="com.stevlu.bean.Hr">
        update tkt_hr
        <set>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateHrUsername" parameterType="com.stevlu.bean.Hr">
        update tkt_hr
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateHrName" parameterType="com.stevlu.bean.Hr">
        update tkt_hr
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteRoleByHrId" parameterType="Long">
        DELETE FROM tkt_hr_role where hrid=#{hrId}
    </delete>
    <insert id="addRolesForHr">
        INSERT INTO tkt_hr_role(id,hrid,rid) select SEQ_TKT_HR_ROLE_NEWID.NEXTVAL, tmp.* from (
        <foreach collection="rids" separator="union all" item="rid">
            select #{hrId}, #{rid} from dual
        </foreach>
        ) tmp
    </insert>
    <delete id="deleteHr" parameterType="Long">
        DELETE FROM tkt_hr WHERE id=#{hrId}
    </delete>
    <select id="getAllHr" resultType="com.stevlu.bean.Hr">
        select * from tkt_hr
        <if test="currentId!=null">
            WHERE id !=#{currentId}
        </if>
    </select>
</mapper>