<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stevlu.mapper.JobLevelMapper">
    <select id="getJobLevelByName" parameterType="string" resultType="com.stevlu.bean.JobLevel">
        select * from tkt_joblevel WHERE name=#{name}
    </select>
    <insert id="addJobLevel" parameterType="com.stevlu.bean.JobLevel">
        INSERT INTO tkt_joblevel (name, titleLevel) values (#{jobLevel.name}, #{jobLevel.titleLevel})
    </insert>
    <select id="getAllJobLevels" resultType="com.stevlu.bean.JobLevel">
        select * from tkt_joblevel WHERE enabled=1
    </select>
    <delete id="deleteJobLevelById">
        DELETE FROM tkt_joblevel WHERE id IN
        <foreach collection="ids" item="id" close=")" open="(" separator=",">
            #{id}
        </foreach>
    </delete>
    <update id="updateJobLevel">
        UPDATE tkt_joblevel
        <set>
            <if test="jobLevel.name!=null">
                name=#{jobLevel.name},
            </if>
            <if test="jobLevel.titleLevel!=null">
                titleLevel=#{jobLevel.titleLevel},
            </if>
        </set>
        WHERE id=#{jobLevel.id}
    </update>
</mapper>